<aside class="sidebar">
  <div class="sidebar-header">
    <i class="fas fa-book-open"></i>

    <h2>Research Project</h2>
  </div>

  <nav>
    <a href="index.html">
      <i class="fas fa-users"></i>
      <span>Group</span>
    </a>

    <a href="proposal.html">
      <i class="fas fa-file-lines"></i>
      <span>Proposal</span>
    </a>

    <a href="questionnaire.html">
      <i class="fas fa-circle-question"></i>
      <span>Questionnaire</span>
    </a>

    <a href="survey.html">
      <i class="fas fa-square-poll-horizontal"></i>
      <span>Survey Form</span>
    </a>

    <a href="pivot-table.html">
      <i class="fas fa-table"></i>
      <span>Pivot Table</span>
    </a>

    <a href="dashboard.html">
      <i class="fas fa-chart-line"></i>
      <span>Dashboard</span>
    </a>

    <a href="images.html">
      <i class="fas fa-images"></i>
      <span>Images</span>
    </a>
  </nav>
</aside>
